<!DOCTYPE html>
<html>

<head>
    <title>Rust Counter!</title>
    <meta name="description" content="多种风格可选的萌萌计数器">

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#FFFFFF" />

    <link rel="icon" type="image/x-icon" href="/{{ sub_domain }}/"favicon.ico" />

    <meta property="og:title" content="Rust Counter!" />
    <meta property="og:site_name" content="Rust Counter" />
    <meta property="og:description" content="多种风格可选的萌萌计数器" />

    <meta property="og:image" content="{{ base_url }}{{ sub_domain }}/count/index?theme=e621&format=png" />
    <meta property="og:image:secure_url" content="{{ base_url }}{{ sub_domain }}/count/index?theme=e621&format=png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:alt" content="Rust Count!" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@hayper1919" />
    <meta name="twitter:title" content="Rust Counter!">
    <meta name="twitter:description" content="多种风格可选的萌萌计数器">
    <meta name="twitter:image" content="{{ base_url }}{{ sub_domain }}/count/index?theme=e621&format=png">
    <meta name="twitter:image:alt" content="Rust Count!">

    <link rel="preconnect" href="//www.googletagmanager.com/" crossorigin />
    <link rel="dns-prefetch" href="//www.googletagmanager.com/" />
    <link rel="preconnect" href="//cdn.jsdelivr.net/" crossorigin />
    <link rel="dns-prefetch" href="//cdn.jsdelivr.net/" />

    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/water.css@2.1.1/out/water.min.css" />
    <link rel="stylesheet" href="/{{ sub_domain }}/"style.css" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="//www.googletagmanager.com/gtag/js?id=G-2RLWN5JXRL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-2RLWN5JXRL");

        function _evt_push(type, category, label) {
            gtag("event", type, {
                event_category: category,
                event_label: label,
            });
        }
    </script>
</head>

<body>
<h3>How to use:</h3>

<h5>SVG address</h5>
<code>{{ base_url }}{{ sub_domain }}/count/:identifier</code>

<h5>Object tag</h5>
<code>&lt;object type="image/svg+xml"
    data="{{ base_url }}{{ sub_domain }}/count/:identifier"&gt;&lt;/object&gt;</code>

<h5>Img tag</h5>
<code>&lt;img src="{{ base_url }}{{ sub_domain }}/count/:identifier" /&gt;</code>

<h5>Markdown</h5>
<code>![:name]({{ base_url }}{{ sub_domain }}/count/:identifier)</code>

<h3>eg:</h3>
<object type="image/svg+xml" data="/{{ sub_domain }}/"count/index?theme=rule34" alt="Rust Count!"></object><br />

<i>
    Data can access by anyone, please
    <span style="color: #ff4500"> DO NOT</span> enter personal information
</i>

<details>
    <summary style="display: inline-block" onclick='_evt_push("click", "normal", "more_theme")'>
        <h3 style="display: inline-block; cursor: pointer">
            More theme
        </h3>
    </summary>

    <p1 style="margin: 0">
        <br>
        Just use the query parameters <code>theme</code>, like this:
        <code>{{ base_url }}{{ sub_domain }}/count/:identifier?theme=rule34</code>
    </p1>

    <h5>asoul</h5>
    <object type="image/png" data="/{{ sub_domain }}/"number/1234567890?theme=asoul&format=png" alt="A-SOUL"></object>
    <h5>moebooru</h5>
    <object type="image/png" data="/{{ sub_domain }}/"number/1234567890?theme=moebooru&format=png" alt="Moebooru"></object>
    <h5>rule34</h5>
    <object type="image/svg+xml" data="/{{ sub_domain }}/"number/1234567890?theme=rule34" alt="Rule34"></object>
    <h5>gelbooru</h5>
    <object type="image/png" data="/{{ sub_domain }}/"number/1234567890?theme=gelbooru&format=png" alt="Gelbooru"></object>
    <h5>e621</h5>
    <object type="image/png" data="/{{ sub_domain }}/"number/1234567890?theme=e621&format=png" alt="e621"></object>

    <details>
        <summary>
            <span style="color: #ff4500">NSFW</span>
        </summary>

        <h5>moebooru-h</h5>
         <object type="image/svg+xml" data="/{{ sub_domain }}/"number/1234567890?theme=moebooru-h&format=png" alt="Moebooru-Hentai"></object>

        <h5>gelbooru-h</h5>
         <object type="image/svg+xml" data="/{{ sub_domain }}/"number/1234567890?theme=gelbooru-h&format=png" alt="Gelbooru-Hentai"></object>
    </details>
</details>

<h3>Credits</h3>
<ul>
    <li>
        <a href="https://repl.it/" target="_blank" rel="nofollow">repl.it</a>
    </li>
    <li>
        <a href="https://space.bilibili.com/703007996" title='A-SOUL_Official' target="_blank" rel="nofollow">A-SOUL</a>
    </li>
    <li>
        <a href="https://github.com/moebooru/moebooru/" target="_blank" rel="nofollow">moebooru</a>
    </li>
    <li>
        <a href="javascript:alert('!!! NSFW LINK !!!\nPlease enter the url manually')">rule34.xxx <span
                style="color: #ff4500">(NSFW)</span></a>
    </li>
    <li>
        <a href="javascript:alert('!!! NSFW LINK !!!\nPlease enter the url manually')">gelbooru.com <span
                style="color: #ff4500">(NSFW)</span></a>
    </li>
    <li>
        <a href="javascript:alert('!!! NSFW LINK !!!\nPlease enter the url manually')">e621.net <span
                style="color: #ff4500">(NSFW)</span></a>
    </li>
    <li>
        <a href="https://icons8.com/icons/set/star/" target="_blank" rel="nofollow">Icons8</a>
    </li>
    <li>
        <a href="https://github.com/journey-ad/" target="_blank" rel="nofollow">journey-ad</a>
    </li>
</ul>

<h3>Tool</h3>
<div class="tool">
    <code>{{ base_url }}{{ sub_domain }}/count/</code>
    <input id="name" type="text" placeholder=":identifier" style="display: inline-block; width: 80px; height: 1.6em; line-height: 1.6em; font-size: 14px; margin: 0 4px; padding: 0 4px; vertical-align: middle;">
    <code>?theme=</code>
    <select id="theme" style="display: inline-block; height: 1.6em; line-height: 1.6em; font-size: 14px; margin: 0 4px; padding: 0 4px; vertical-align: middle;">
        <option value="asoul">asoul</option>
        <option value="moebooru">moebooru</option>
        <option value="rule34">rule34</option>
        <option value="gelbooru">gelbooru</option>
        <option value="e621">e621</span></option>
        <option value="moebooru-h">moebooru-h</span></option>
        <option value="gelbooru-h">gelbooru-h</span></option>
    </select>
    <code>&pixelated=</code>
    <select id="pixelated" style="display: inline-block; height: 1.6em; line-height: 1.6em; font-size: 14px; margin: 0 4px; padding: 0 4px; vertical-align: middle;">
        <option value="true">true</option>
        <option value="false">false</option>
    </select>
    <code>&format=</code>
    <select id="format" style="display: inline-block; height: 1.6em; line-height: 1.6em; font-size: 14px; margin: 0 4px; padding: 0 4px; vertical-align: middle;">
        <option value="svg">svg</option>
        <option value="png">png</option>
    </select>
    <button id="get" style="margin: 10px 0;" onclick="_evt_push('click', 'normal', 'get_counter')">Get</button>
    <object type="image/svg+xml" id="result" style="display: block;"></object>
</div>

<p>
    <a href="https://count.getloli.com/" target="_blank" onclick="_evt_push('click', 'normal', 'go_original_site')">original site</a><br>
    <a href="https://github.com/xhayper/RustCounter" target="_blank" onclick="_evt_push('click', 'normal', 'go_github')">source code</a>
</p>

<script>
    const btn = document.getElementById("get"),
        object = document.getElementById("result");

    btn.addEventListener("click", () => {
        const nameEl = document.getElementById("name"),
            themeEl = document.getElementById("theme"),
            pixelatedEl = document.getElementById("pixelated"),
            formatEl = document.getElementById("format");

        const name = nameEl.value?.trim() ?? "";
        const theme = themeEl.value;
        const pixelated = pixelatedEl.value;
        const format = formatEl.value;

        if (name === "") {
            alert("Please input counter name.");
            return;
        }

        object.setAttribute("type", `image/${format === "png" ? "png" : "svg+xml"}`);
        object.setAttribute("data", encodeURI(`{{ base_url | safe }}{{ sub_domain }}/count/${name}?theme=${theme}&pixelated=${pixelated}&format=${format}`));
    });
</script>
</body>

</html>
